<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="https://via.placeholder.com/70x70">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">

  <meta charset="utf-8">
  <meta name="description" content="Green Building Assessments">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Green Building Assessments</title>
  <style>
    .container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <a href="/"><img alt="Logo" src="https://via.placeholder.com/200x70?text=DSM-GBRS" height="70"></a>
      <ul>
        <li>Home</li>
        <li><a href="/buildings">Assessments</a></li>
        <li><a href="{{ url_for('.download_android_apk') }}">Download Android App</a><li>
      </ul>
    </nav>
    <h1>A way to evaluate <i>building</i> to show its <u>green</u></h1>
    <p>See your green building <mark>performance</mark> instantly here.</p>
    <br>
    <p><a href="/#analytics"><i>Checkout Analytics</i></a><a href="/buildings/new"><b>Let's evaluate your building &rarr;</b></a></p>
  </header>

  <section id="analytics" class="container">
    <iframe class="responsive-iframe" src="https://lookerstudio.google.com/embed/reporting/6a599503-dd3c-477f-8a3c-60f3e0343c77/page/FjrXD" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

  <footer>
    <hr>
    <p>
      <small><a href="https://github.com/akbarbin/green-building" target="_blank">Github &nearr;</a><br></small>
    </p>
  </footer>
</body>

</html>